@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Rabbit';
    src: url(rabbit_hole/Rabbitz\ Hole_PersonalUseOnly.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
   background-color: #63474D;
   font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    color: #EEF0F2;
}

h1 {
    font-family: 'Rabbit', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #4E878C;
}

a {
    color: #EEF0F2;
    text-decoration: none;
}

a:hover {
    color: #BC8034;
}

main p {
    color: #EEF0F2;
}

button {
    background-color: #4E878C;
    font-weight: 700;
    padding: 10px;
    border-radius: 17px;
    box-shadow: 2px 2px 8px #0000004f;
    border-style: none;
}

button:hover {
    background-color: #EEF0F2;
    color: #BC8034;
    font-weight: 700;
    transition: 1s;
}